rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
		match /users/{userId} {
  		allow read;
  		allow write, update, delete: if userId == request.auth.uid;
		}
    match /articles/{articleId} {
    	allow read;
      allow write: if request.resource.data.authorId == request.auth.uid;
      allow update, delete: if resource.data.authorId == request.auth.uid;
    }
    match /events/{eventId} {
    	allow read;
      allow write: if request.resource.data.authorId == request.auth.uid;
      allow update, delete: if resource.data.authorId == request.auth.uid;
    }
    match /{document=**} {
      allow read, write, update, delete: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 2;
    }
  }
}