rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
  	match /users/{userId}/profile_picture.jpg {
    	allow read;
      allow write, update, delete: if userId == request.auth.uid;
    }
  	match /articles/{articleId}/cover_image.jpg {
    	allow read;
      allow write, update, delete: if firestore.get(/databases/(default)/documents/articles/$(articleId)).data.authorId == request.auth.uid;
    }
    match /events/{eventId}/cover_image.jpg {
    	allow read;
      allow write, update, delete: if firestore.get(/databases/(default)/documents/events/$(eventId)).data.eventOrganizerId == request.auth.uid;
    }
    match /{allPaths=**} {
      allow read, write, update, delete: if request.auth != null && firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 2;
    }
  }
}